target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/logs/plrdApp-0-0.log
/logs/plrdApp-1-0.log
/logs/plrdApp-2-0.log
/logs/plrdApp-3-0.log
/logs/plrdApp-4-0.log
/logs/plrdApp-5-0.log
/logs/plrdApp-6-0.log
/logs/plrdApp-7-0.log
/logs/plrdApp-8-0.log
/logs/plrdApp-9-0.log
